main {
    margin: 0;

    h2 {
        text-align: center;
        margin-bottom: 50px;
        text-shadow: -1px 1px 2px black;
    }

    div {
        overflow: auto;
        padding: 30px 10%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        box-shadow: 0 1px 4px black;

        &.container {
            padding: 20px 40px;
            max-width: 900px;
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            margin: auto;
            opacity: 0;
            transition: 0.5s;
            box-shadow: 0 0;
            transform: scale(95%);



            &.visible {
                opacity: 1;
                transform: scale(100%);
            }

            p {
                text-align: justify;
            }

            img {
                &:not(.pres) {
                    transition: 0.3s;
                    width: 40%;
                    border-radius: 10px;
                }

                &.right {
                    float: right;
                    margin: 0 0 10px 30px;
                }

                &.left {
                    float: left;
                    margin: 0 30px 10px 0;
                }
            }
        }
    }

    ol li {
        margin: 10px 0;
    }

    #ImageList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h2 {
            flex-basis: 100%;
        }

        p {
            flex-basis: 100%;
        }

        img {
            width: auto;
            height: 250px;
            margin: 0;
        }
    }
}

@media screen and (max-width:600px) {
    div.container{
        img: {
            float: none !important;
            width: 100% !important;
            height: auto !important;
            margin: 0 !important;
            transition: 0.3s;
        }
    } 
}