div.presentation {
    z-index: 97;
    background-image: url(../Images/fond-3d-cubes-blancs.png);
    background-position: 0 -200px;
    background-color: rgb(51, 61, 96);
}

img.cadre {
    float: left;
    margin: 0 30px 10px 0;
}